/* Player.css */

.player-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.player-wrapper .react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.player-wrapper iframe {
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.player-wrapper:hover iframe {
    pointer-events: auto;
}

.player-wrapper iframe:hover+.ytp-title {
    display: none !important;
}

.player-wrapper iframe:hover .ytp-chrome-top {
    display: none !important;
}